.search {
    width: 200px;
}

.login-image {
    width: 20px;
    background-position: center;
    background-size: cover;
}

.loginbaten {
    background-color: blue;
}

.detailmhs {
    color:black;
}

.detaildosen {
    color:black;
}